<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Consent</title>
        <link rel="stylesheet" href="/css/custom.css" />
        <script src="/js/bg.js"></script>
    </head>
    <body>
        <div id="window">
            <div id="blur"></div>
            <div id="content" class="center">
                <h2><span class="thinblock">The application </span><strong><%= client.getName() %></strong><span class="thinblock"> is requesting access to your data.</span></h2>
                <form id="accept" method="post" action="/dialog/authorize/decision">
                    <input name="transaction_id" type="hidden" value="<%= transactionID %>">
                    <select name="CHARACTER">
                        <c:forEach items="${user.characters}" var="character">
                        <option value="${character.id}">
                        ${character.name}
                        </option>
                        </c:forEach>
                    </select>
                    <div class="form-actions">
                        <input class="half" type="submit" value="Accept" id="allow">
                        <input class="half" type="submit" value="Deny" name="cancel" id="deny">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
