<!DOCTYPE html>
<html>
  <head>
    <title>Dummy Link</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <a id="authcode" href="/oauth/authorize?redirect_uri=http://service.eneticum.de:3000&amp;response_type=code&amp;client_id=57b0ce7ae61822ca1c8b4567&amp;scope=offline_access">
                    <pre>  <span class="hostname">http://service.eneticum.de:3000</span>/oauth/authorize?
      redirect_uri=<span class="hostname">http://service.eneticum.de:3000</span>&amp;
      response_type=code&amp;
      client_id=57b0ce7ae61822ca1c8b4567&amp;
      scope=offline_access
                    </pre>
    </a>
  </body>
</html>


