@import url(https://fonts.googleapis.com/css?family=Roboto);

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, #viewport, .ui {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    text-align: center;
}

:root {
    --primary-color: rgba(255,255,255,.25);
    --secondary-color: rgba(255,255,255,.4);
	--tertiary-color: rgba(255,255,255,.125);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22) inset;
}

#viewport {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 500px;
    -webkit-perspective: 500;
    transform-style: preserve-3d;
}

.content {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
	font-family: "Roboto", sans-serif;
}

.content, .pages, .page {
    position: absolute;
    top: 0;
    left: 0;
	bottom: 0;
	width: 100%;
}

.page {
	opacity: 1;
}

.pages {
    top: 70px;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.searchbar {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
    width: calc(40% - 20px);
}

.ui.searching .topbar .searchbar {
    width: calc(100% - 40px);
}

.ui.searching .topbar .searchbar input {
    height: 150%;
    font-size: 150%;
    width: 100%;
}

.ui.searching .topbar .searchbar ~ #clock {
    opacity: .3;
}

.searchbar input {
    margin: auto;
    width: 250px;
    display: block;
    float: right;
    height: 100%;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    outline: none;
    color: rgba(255,255,255,.8);
    padding: 10px;
    max-width: 100%;
}

.searchbar input:focus {
    width: 100%;
    background-color: rgba(255,255,255,.2);
}

.sbexpand {
    width: 100%;
    margin: auto;
    position: relative;
    height: 100%;
}

.ui.searching .topbar .searchbar > .sbexpand {
    width: 80% !important;
}

.ui.searching .content .pages, #loadingState:checked ~ .content .pages .page:not(.intransition) {
	transform: translateZ(-200px);
	opacity: .6;
}

.page.example-enter {
	transition: transform .5s;
	transform: translateY(100%);
}

.page.example-enter-active {
	transform: translateY(0%);
}

.page.example-leave {
	transition: transform .5s, opacity .5s;
	transform: translateZ(0px);
	opacity: 1;
}

.page.example-leave-active {
	transform: translateZ(-500px);
	opacity: 0;
}

.ui.open .vertical-centered-box {
	left: calc(-51% + 290px) !important;
}

.vertmid {
	display: inline-block;
	vertical-align: middle;
}

#loadingState:not(:checked) ~ .loader {
    display: none;
}

.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.25);
    margin-left: -60px;
    margin-top: -60px;
}
.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 120px;
    width: 60px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    -webkit-transform-origin: 60px 60px;
    -moz-transform-origin: 60px 60px;
    -o-transform-origin: 60px 60px;
    -ms-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    -webkit-animation: rotate 1.2s infinite linear;
    -moz-animation: rotate 1.2s infinite linear;
    -o-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
}
.loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.75);
}

#sidebarButton {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    z-index: 5;
    background-color: var(--primary-color);
    font-size: 40px;
    line-height: 40px;
    color: white;
    cursor: pointer;
}

.sidebarOpen, .sidebarClose {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .5s;
}

.ui.open #sidebarButton > .sidebarOpen {
    opacity: 0;
}

.ui.close #sidebarButton > .sidebarClose {
    opacity: 0;
}

.clock {
    position: relative;
    height: 100%;
    width: 100%;
}

#clock {
    position: fixed;
    top: 20px;
    left: 70px;
    height: 40px;
    width: 80px;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: var(--primary-color);
}

.sidebar {
    position: absolute;
    top: 0;
    left: -290px;
    bottom: 0;
    width: 290px;
    //background-color: var(--primary-color);
    background: #2c2d44;
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

.ui.open .sidebar {
    left: 0;
}

.ui.open .content, .ui.open .topbar {
    left: 290px;
    //-webkit-filter: blur(10px);
    //filter: blur(10px);
}

.ui.open #sidebarButton {
	box-shadow: 0 0 10px 0px rgb(0, 0, 0);
}

.ui.open .topbar #clock {
    width: 200px;
	box-shadow: 0 0 10px 0px rgb(0, 0, 0);
}

.usercount {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 70px;
    height: 40px;
    font-size: 25px;
    color: white;
    background-color: var(--primary-color);
    padding: 5px;
	box-shadow: 0 0 10px 0px rgb(0, 0, 0);
}

.usercount > span {
    color: red;
}

.online > span {
    color: green;
}

.homebtn {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px 0px rgb(0, 0, 0);
}

.homebtn::before {content: "";width: 20px;height: 15px;background-color: white;position: absolute;bottom: 8px;left: 10px;}

.homebtn::after {content: "";position: absolute;transform: rotate(45deg);width: 14px;height: 14px;background-color: white;top: 10px;left: 13px;}

/* WelcomePage */

.welcome::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.welcome-vp {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    border: 2px solid;
    position: relative;
    border-color: rgba(255,255,255,.6);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    transition: 0.5s;
    border-width: 3px;
    border-style: solid;
    max-height: 60%;
    transform-style: preserve-3d;
}
.welcome-vp:hover, .welcome-vp:focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.welcome-vp > img {
    display: block;
    width: calc(100% / 3);
}
.welcome-conti {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 99 * 100);
    height: 100%;
    transform-style: preserve-3d;
}
.welcome-conti:hover > a, .welcome-conti:focus > a {
    opacity: .3;
}
.welcome-conti > a {
    display: block;
    float: left;
    height: 100%;
    transition: .5s;
    outline: none;
    text-decoration: none;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    position: relative;
}
.welcome-conti > a:hover, .welcome-conti > a:focus {
    opacity: 1 !important;
    transform: translateZ(30px);
    z-index: 5;
}
.welcome #search {
    clip-path: url(#pone);
    -webkit-clip-path: url(#pone);
    margin-right: calc(99% / 11 / 2 * -1);
    width: calc(99% / 11 * 4);
    background-image: url(../img/search.jpg);
    padding-right: calc(99% / 11 / 2);
}
#killboard {
    clip-path: url("#ptwo");
    -webkit-clip-path: url("#ptwo");
    background-image: url(../img/killboard.jpg);
    width: calc(99% / 11 * 5);
    margin: 0 calc(99% / 11 / 2 * -1);
}
.welcome #service {
    clip-path: url(#pthree);
    -webkit-clip-path: url(#pthree);
    margin-left: calc(99% / 11 / 2 * -1);
    background-image: url(../img/service.jpg);
    width: calc(99% / 11 * 4);
    padding-left: calc(99% / 11 / 2);
}
.welcome h2 {
    color: white;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
	font-weight: 200;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}
.welcome-conti > a::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.welcome h2:before {
    content: " ";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-color: rgba(0,0,0,.6);
    display: inline-block;
    z-index: -1;
}
.welcome #search:target {
    clip-path: url(#pfull) !important;
    -webkit-clip-path: url(#pfull) !important;;
    width: 99%;
    margin-right: calc(99% / 11 * 7.5 * -1);
    z-index: 10;
}
.welcome #killboard:target {
    clip-path: url(#pfull) !important;;
    -webkit-clip-path: url(#pfull) !important;;
    width: 99%;
    z-index: 10;
    margin: 0 calc(99% / 11 * 3.5 * -1);
}
.welcome #service:target {
    clip-path: url(#pfull) !important;;
    -webkit-clip-path: url(#pfull) !important;;
    width: 99%;
    margin-left: calc(99% / 11 * 7.5 * -1);
    z-index: 10;
}

/* Killmail Page */

.killmail.page {
	padding: 50px;
	padding-top: 15px;
	overflow: auto;
}

.kill-header-bg {
	width: 100%;
	height: 430px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
}

.killmail.page input[type="radio"] {
	display: none;
}

.fitting-conti {
	margin: 0 5%;
	position: relative;
	height: 45%;
}

.fitting-conti > canvas {
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
}

.fitting-conti > .kill-img-conti {
	position: absolute;
	top: -6%;
	left: 0;
	right: 0;
	bottom: -6%;
	text-align: center;
	pointer-events: none;
	display: none !important;
}

.fitting-conti > .kill-img-conti > .kill-img-wrap {
	position: absolute;
	height: 100%;
	width: 100%;
}

.fitting-conti > .kill-img-conti > .kill-img-wrap > img {
	height: 100%;
	display: block;
	margin: auto;
	filter: grayscale(100%) brightness(15%);
}

.tabs-kill > .kill-tab-headline {
	width: 25%;
	float: left;
	height: 100%;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

.tab-highlighter {
	width: 50%;
	border-bottom: 3px solid var(--secondary-color);
	height: 100%;
	position: absolute;
	left: 0;
}

.tabs-kill-2:checked ~ .fitting-conti > .tabs-kill > .tab-highlighter {
	left: 25%;
}

.tabs-kill-3:checked ~ .fitting-conti > .tabs-kill > .tab-highlighter {
	left: 50%;
}

.tabs-kill > .kill-label-wrapper > label {
	width: calc(100% / 3);
	height: 100%;
	top: 0;
	display: inline-block;
	position: relative;
}

.kill-label-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.tabs-kill {
	position: absolute;
	left: 0;
	height: 50px;
	right: 0;
	bottom: 0;
	line-height: 50px;
	background: linear-gradient(transparent, black);
}

.tabs-kill-wrap {
	margin: 0 5%;
	overflow-x: hidden;
}

.tabs-kill-conti {
	width:200%;
	display: flex;
	margin-left: 0;
	text-align: left;
}

.tabs-kill-conti > .tab-kill {
	width: 25%;
	overflow: hidden;
	padding: 5px;
	padding-bottom: 0;
}

.tabs-kill-2:checked ~ .tabs-kill-wrap > .tabs-kill-conti {
	margin-left: -50%;
}

.tabs-kill-3:checked ~ .tabs-kill-wrap > .tabs-kill-conti {
	margin-left: -100%;
}

.kill-header-infolay {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px;
	pointer-events: none;
}

.kill-header-infolay > .kill-header-info {
	flex-grow: 1;
}

.kill-header-infolay > img {
	display: block;
	height: 100%;
}

.tab-kill > .tab-kill > div {
	margin-bottom: 5px;
	background-color: var(--primary-color);
}

.tab-kill > .tab-kill > div > * {
	vertical-align: middle;
	display: inline-block;
}

.tab-kill > .tab-kill > div > *:last-child {
	float: right;
	padding: 6px;
}

/* Killboard Page */

.intransition .list > .row {
    margin-top: 200px;
}

.list > .row {
    display: flex;
    text-align: left;
    margin: 5px 12px 5px 20px;
    transition: .75s;
	text-decoration: none;
	color: rgba(255,255,255,.75);
	outline: none;
}

.list > .row:hover, .list > .row:focus {
	background-color: var(--tertiary-color);
}

.list > .row > .column > img {
	border: 1px solid rgba(255,255,255,.25);
	border-right-width: 0;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

.list {
	overflow: auto;
	height: 100%;
}

.list > .row > .grad::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.list > .row > .grad {
	background: linear-gradient(90deg, rgba(255,255,255,.25), transparent);
	position: relative;
	padding-left: 45px;
}

.list > .row > .grad > span {
	vertical-align: middle;
	display: inline-block;
	position: relative;
}

.list > .row > .column.deso.img {
	width: 45px;
}

.searchbg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    transition: .2s;
}

.ui.searching .searchbg {
    bottom: 0;
}

.searchres {
	left: calc(20px + ((100% - 40px) * 0.1));
	right: calc(20px + ((100% - 40px) * 0.1));
	text-align: left;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
	position: fixed;
	top: 100px;
	max-height: calc(100% - 100px - 20px);
	overflow: auto;
	transition: .2s;
}

.ui:not(.searching) .searchres {
	opacity: 0;
	max-height: 0;
	top: -20px;
}

.searchres a {
	height: 40px;
	display: block;
	text-decoration: none;
	color: black;
}

.searchres a img {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.searchres a span {
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
}

.searchres h3 {
	margin: 10px;
	text-transform: uppercase;
	font-family: "Roboto";
	color: white;
	font-weight: 200;
}

@media (min-width: 600px) {

	.mobo {
		display: none !important;
	}

	.list > .row {
		min-height: 45px;
	}

	.list > .row > .column {
		width: 40%;
	}

	.list > .row > .col-1 {
		width: 20%;
	}

}

@media (max-width: 600px) {

	.list > .row > .column {
		width: 25%;
	}

	.list > .row > .column:first-child + .column {
		width: 75%;
	}

    .deso {
        display: none !important;
    }

	.welcome-conti {
		width: 100%;
	}

	.welcome-conti > a {
		height: calc(100% / 3);
		margin-right: initial !important;
		padding-right: initial !important;
		margin: initial !important;
		margin-left: initial !important;
		padding-left: initial !important;
		width: 100% !important;
		clip-path: initial !important;
		-webkit-clip-path: initial !important;
	}

	.welcome h2 {
		z-index: 1;
	}

	.mobo {
		//display: block;
	}

}



.two-col-page {
	display: flex;
	text-align: left;
}

.two-col-page .left-col {
	height: 100%;
	padding: 20px;
}

.two-col-page .left-col img {
	padding: 61px;
	background-color: rgba(255,255,255,.5);
	display: block;
}

.two-col-page .left-col .info-list {
	background-color: rgba(255,255,255,.5);
	margin-top: 20px;
	padding: 10px;
	color: white;
	font-family: Roboto;
	font-weight: 200;
}

.two-col-page .left-col .info-list span, .two-col-page .right-col h2 span {
	font-size: smaller;
}

.two-col-page .left-col .info-list b a {
	color: white;
	text-decoration: none;
}

.two-col-page .right-col {
	height: 100%;
	vertical-align: top;
	width: 100%;
	padding: 20px;
	padding-left: 0;
}

.two-col-page .right-col h2 {
	margin: 0;
	padding: 10px;
	background-color: rgba(255,255,255,.5);
	color: white;
	font-family: Roboto;
	font-weight: 200;
}

#sidebarButton span {
	display: block;
	position: absolute;
	height: 4px;
	background: white;
	opacity: 1;
	left: 5px;
	width: 75%;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#sidebarButton span:nth-child(1) {
	top: 7px;
}

#sidebarButton span:nth-child(2), #sidebarButton span:nth-child(3) {
	top: 18px;
}

#sidebarButton span:nth-child(4) {
	top: 29px;
}

.ui.open #sidebarButton span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.ui.open #sidebarButton span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ui.open #sidebarButton span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.ui.open #sidebarButton span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
