@import url(https://fonts.googleapis.com/css?family=Roboto:100);

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, #viewport, .ui {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    text-align: center;
}

:root {
    --primary-color: rgba(255,255,255,.25);
    --seconday-color: rgba(255,255,255,.4);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22) inset;
}

#viewport {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 500px;
    -webkit-perspective: 500;
    transform-style: preserve-3d;
}

.content {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
}

.content, .pages, .page {
    position: absolute;
    top: 0;
    left: 0;
	bottom: 0;
	width: 100%;
    transform-style: preserve-3d;
}

.pages {
    top: 70px;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.searchbar {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
    width: calc(40% - 20px);
}

#searchbarMaxer:checked ~ .topbar .searchbar {
    width: calc(100% - 40px);
}

#searchbarMaxer:checked ~ .topbar .searchbar input:focus {
    height: 150%;
    font-size: 150%;
}

#searchbarMaxer:checked ~ .topbar .searchbar ~ #clock {
    opacity: .3;
}

.searchbar input {
    margin: auto;
    width: 250px;
    display: block;
    float: right;
    height: 100%;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    outline: none;
    color: rgba(255,255,255,.8);
    padding: 10px;
    max-width: 100%;
}

.searchbar input:focus {
    width: 100%;
    background-color: rgba(255,255,255,.2);
}

.sbexpand {
    width: 100%;
    margin: auto;
    position: relative;
    height: 100%;
}

#searchbarMaxer:checked ~ .topbar .searchbar > .sbexpand {
    width: 80% !important;
}

#searchbarMaxer:checked ~ .content .pages, #loadingState:checked ~ .content .pages .page:not(.intransition) {
	transform: translateZ(-200px);
	opacity: .6;
}

.pages .page:not(.intransition) + .page {
    opacity: 0 !important;
    transform: translateZ(-500px) !important;
}

.intransition {
    transform: translateY(100%);
}

#loadingState:not(:checked) ~ .loader {
    display: none;
}

.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.25);
    margin-left: -60px;
    margin-top: -60px;
}
.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 120px;
    width: 60px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    -webkit-transform-origin: 60px 60px;
    -moz-transform-origin: 60px 60px;
    -o-transform-origin: 60px 60px;
    -ms-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    -webkit-animation: rotate 1.2s infinite linear;
    -moz-animation: rotate 1.2s infinite linear;
    -o-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
}
.loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.75);
}

#sidebarButton {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    z-index: 5;
    background-color: var(--primary-color);
    font-size: 40px;
    line-height: 40px;
    color: white;
    cursor: pointer;
}

#sidebarToggle, #searchbarMaxer, #loadingState {
    display: none;
}

.sidebarOpen, .sidebarClose {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .5s;
}

#sidebarToggle:checked ~ #sidebarButton > .sidebarOpen {
    opacity: 0;
}

#sidebarToggle:not(:checked) ~ #sidebarButton > .sidebarClose {
    opacity: 0;
}

.clock {
    position: relative;
    height: 100%;
    width: 100%;
}

#clock {
    position: fixed;
    top: 20px;
    left: 70px;
    height: 40px;
    width: 80px;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: var(--primary-color);
}

.sidebar {
    position: absolute;
    top: 0;
    left: -290px;
    bottom: 0;
    width: 290px;
    //background-color: var(--primary-color);
    background: #2c2d44;
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

#sidebarToggle:checked ~ .sidebar {
    left: 0;
}

#sidebarToggle:checked ~ .content, #sidebarToggle:checked ~ .topbar {
    left: 290px;
    //-webkit-filter: blur(10px);
    //filter: blur(10px);
}

#sidebarToggle:checked ~ #sidebarButton {
	box-shadow: 0 0 10px 0px rgb(0, 0, 0);
}

#sidebarToggle:checked ~ .topbar #clock {
    width: 200px;
	box-shadow: 0 0 10px 0px rgb(0, 0, 0);
}

.usercount {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 70px;
    height: 40px;
    font-size: 25px;
    color: white;
    background-color: var(--primary-color);
    padding: 5px;
	box-shadow: 0 0 10px 0px rgb(0, 0, 0);
}

.usercount > span {
    color: red;
}

.online > span {
    color: green;
}

.homebtn {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px 0px rgb(0, 0, 0);
}

.homebtn::before {content: "";width: 20px;height: 15px;background-color: white;position: absolute;bottom: 8px;left: 10px;}

.homebtn::after {content: "";position: absolute;transform: rotate(45deg);width: 14px;height: 14px;background-color: white;top: 10px;left: 13px;}

/* WelcomePage */

.welcome::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.welcome-vp {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    border: 2px solid;
    position: relative;
    border-color: rgba(255,255,255,.6);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    transition: 0.5s;
    border-width: 3px;
    border-style: solid;
    max-height: 60%;
    transform-style: preserve-3d;
}
.welcome-vp:hover, .welcome-vp:focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.welcome-vp > img {
    display: block;
    width: calc(100% / 3);
}
.welcome-conti {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 99 * 100);
    height: 100%;
    transform-style: preserve-3d;
}
.welcome-conti:hover > a, .welcome-conti:focus > a {
    opacity: .3;
}
.welcome-conti > a {
    display: block;
    float: left;
    height: 100%;
    transition: .5s;
    outline: none;
    text-decoration: none;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    position: relative;
}
.welcome-conti > a:hover, .welcome-conti > a:focus {
    opacity: 1 !important;
    transform: translateZ(30px);
    z-index: 5;
}
.welcome #search {
    clip-path: url(#pone);
    -webkit-clip-path: url(#pone);
    margin-right: calc(99% / 11 / 2 * -1);
    width: calc(99% / 11 * 4);
    background-image: url(../img/search.jpg);
    padding-right: calc(99% / 11 / 2);
}
#killboard {
    clip-path: url("#ptwo");
    -webkit-clip-path: url("#ptwo");
    background-image: url(../img/killboard.jpg);
    width: calc(99% / 11 * 5);
    margin: 0 calc(99% / 11 / 2 * -1);
}
.welcome #service {
    clip-path: url(#pthree);
    -webkit-clip-path: url(#pthree);
    margin-left: calc(99% / 11 / 2 * -1);
    background-image: url(../img/service.jpg);
    width: calc(99% / 11 * 4);
    padding-left: calc(99% / 11 / 2);
}
.welcome h2 {
    color: white;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}
.welcome-conti > a::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.welcome h2:before {
    content: " ";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-color: rgba(0,0,0,.6);
    display: inline-block;
    z-index: -1;
}
.welcome #search:target {
    clip-path: url(#pfull) !important;
    -webkit-clip-path: url(#pfull) !important;;
    width: 99%;
    margin-right: calc(99% / 11 * 7.5 * -1);
    z-index: 10;
}
.welcome #killboard:target {
    clip-path: url(#pfull) !important;;
    -webkit-clip-path: url(#pfull) !important;;
    width: 99%;
    z-index: 10;
    margin: 0 calc(99% / 11 * 3.5 * -1);
}
.welcome #service:target {
    clip-path: url(#pfull) !important;;
    -webkit-clip-path: url(#pfull) !important;;
    width: 99%;
    margin-left: calc(99% / 11 * 7.5 * -1);
    z-index: 10;
}

/* Kill Page */

.intransition .list > a {
    margin-top: 200px;
}

.list > a {
    display: flex;
    text-align: left;
    background-color: var(--primary-color);
    margin: 5px 12px 5px 20px;
    transition: .75s;
	height: 45px;
	text-decoration: none;
	color: rgba(255,255,255,.75);
	font-weight: bold;
}

.list a img {
	height: 100%;
}

.list {
	overflow: auto;
	height: 100%;
}

.list > a > div::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.list > a > div > span {
	vertical-align: middle;
	display: inline-block;
}

.list a div.deso {
	width: 45px;
}

@media (min-width: 600px) {

	.mobo {
		display: none !important;
	}

	.list a div {
		width: calc((100% - 90px) * 0.45);
	}

	.list a div:first-child + div {
		width: calc((100% - 90px) * 0.1);
	}

}

@media (max-width: 600px) {

	.list a div {
		width: 45%;
	}

	.list a div:first-child + div {
		width: 10%;
	}

    .deso {
        display: none !important;
    }

	.welcome-conti {
		width: 100%;
	}

	.welcome-conti > a {
		height: calc(100% / 3);
		margin-right: initial !important;
		padding-right: initial !important;
		margin: initial !important;
		margin-left: initial !important;
		padding-left: initial !important;
		width: 100% !important;
		clip-path: initial !important;
		-webkit-clip-path: initial !important;
	}

	.welcome h2 {
		z-index: 1;
	}

	.mobo {
		//display: block;
	}

}
