swagger: '2.0'
info:
  title: Space Utils
  description: This is a REST JSON API related to the MMO EVE Online.
  version: 0.0.1
  contact:
    email: spaceutils@eneticum.de
host: api.utils.space
#basePath: /
produces:
  - application/json
schemes:
  - https
parameters:
  characterID:
    name: characterID
    in: path
    type: integer
    format: int64
    required: true
  corporationID:
    name: corporationID
    in: path
    type: integer
    format: int64
    required: true
  allianceID:
    name: allianceID
    in: path
    type: integer
    format: int64
    required: true
  factionID:
    name: factionID
    in: path
    type: integer
    format: int64
    required: true
  killID:
    name: killID
    in: path
    type: integer
    format: int64
    required: true
  systemID:
    name: systemID
    in: path
    type: integer
    format: int64
    required: true
  typeID:
    name: typeID
    in: path
    type: integer
    format: int64
    required: true
paths:
  '/':
    get:
      operationId: BaseHandler_home
      summary: Root
      description: |
        The root endpoint of the api, returns urls to the other endpoints.
      responses:
        '200':
          description: The root endpoint
          schema:
            $ref: '#/definitions/Root'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/characters/':
    post:
      operationId: CharacterHandler_filter
      tags:
        - characters
      summary: Filter Characters
      description: |
        Filter Characters and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Characters
          schema:
            $ref: '#/definitions/CharacterList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/characters/{characterID}/':
    parameters:
      - $ref: '#/parameters/characterID'
    get:
      operationId: CharacterHandler_getById
      tags:
        - characters
      summary: ""
      description: |
        Get a Character by ID
      responses:
        '200':
          description: The Character
          schema:
            $ref: '#/definitions/Character'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/characters/{characterID}/corporation/':
    parameters:
      - $ref: '#/parameters/characterID'
    get:
      operationId: CharacterHandler_getCorporation
      tags:
        - characters
      summary: ""
      description: |
        Get a Character's Corporation
      responses:
        '200':
          description: |
            The Corporation
          schema:
            $ref: '#/definitions/Corporation'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/corporations/':
    post:
      operationId: CorporationHandler_filter
      tags:
        - corporations
      summary: Filter Corporations
      description: |
        Filter Corporations and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Corporations
          schema:
            $ref: '#/definitions/CorporationList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/corporations/{corporationID}/':
    parameters:
      - $ref: '#/parameters/corporationID'
    get:
      operationId: CorporationHandler_getById
      tags:
        - corporations
      summary: ""
      description: |
        Get a Corporation by ID
      responses:
        '200':
          description: |
            The Corporation
          schema:
            $ref: '#/definitions/Corporation'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/corporations/{corporationID}/alliance/':
    parameters:
      - $ref: '#/parameters/corporationID'
    get:
      operationId: CorporationHandler_getAlliance
      tags:
        - corporations
      summary: ""
      description: |
        Get a Corporation's Alliance
      responses:
        '200':
          description: |
            The Alliance
          schema:
            $ref: '#/definitions/Alliance'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/corporations/{corporationID}/ceo/':
    parameters:
      - $ref: '#/parameters/corporationID'
    get:
      operationId: CorporationHandler_getCeo
      tags:
        - corporations
      summary: ""
      description: |
        Get a Corporation's CEO
      responses:
        '200':
          description: |
            The CEO
          schema:
            $ref: '#/definitions/Character'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/alliances/':
    post:
      operationId: AllianceHandler_filter
      tags:
        - alliances
      summary: Filter Alliances
      description: |
        Filter Alliances and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Alliances
          schema:
            $ref: '#/definitions/AllianceList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/alliances/{allianceID}/':
    parameters:
      - $ref: '#/parameters/allianceID'
    get:
      operationId: AllianceHandler_getById
      tags:
        - alliances
      summary: ""
      description: |
        Get a Alliance by ID
      responses:
        '200':
          description: |
            The Alliance
          schema:
            $ref: '#/definitions/Alliance'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/alliances/{allianceID}/executor/':
    parameters:
      - $ref: '#/parameters/allianceID'
    get:
      operationId: AllianceHandler_getExecutor
      tags:
        - alliances
      summary: ""
      description: |
        Get an Alliance's Executor
      responses:
        '200':
          description: |
            The Executor
          schema:
            $ref: '#/definitions/Corporation'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/alliances/{allianceID}/corporations/':
    parameters:
      - $ref: '#/parameters/allianceID'
    get:
      operationId: AllianceHandler_getCorporations
      tags:
        - alliances
      summary: ""
      description: |
        Get an Alliance's Corporations
      responses:
        '200':
          description: |
            The Corporations
          schema:
            $ref: '#/definitions/CorporationList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/factions/':
    post:
      operationId: FactionHandler_filter
      tags:
        - factions
      summary: Filter Factions
      description: |
        Filter Factions and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Factions
          schema:
            $ref: '#/definitions/FactionList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/factions/{factionID}/':
    parameters:
      - $ref: '#/parameters/factionID'
    get:
      operationId: FactionHandler_getById
      tags:
        - factions
      summary: ""
      description: |
        Get a Faction by ID
      responses:
        '200':
          description: |
            The Faction
          schema:
            $ref: '#/definitions/Faction'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/killmails/':
    post:
      operationId: KillmailHandler_filter
      tags:
        - killmails
      summary: Filter Killmails
      description: |
        Filter Killmails and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Killmails
          schema:
           $ref: '#/definitions/KillmailList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/killmails/{killID}/':
    parameters:
      - $ref: '#/parameters/killID'
    get:
      operationId: KillmailHandler_getById
      tags:
        - killmails
      summary: ""
      description: |
        Get a Killmail by ID
      responses:
        '200':
          description: |
            The Killmail
          schema:
            $ref: '#/definitions/Killmail'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/killmails/{killID}/{hash}/':
    parameters:
      - $ref: '#/parameters/killID'
      - name: hash
        in: path
        description: The Killmail Hash
        type: string
        required: true
    get:
      operationId: KillmailHandler_getByIdAndHash
      tags:
        - killmails
      summary: ""
      description: |
        Get a Killmail by ID and hash
      responses:
        '200':
          description: |
            The Killmail
          schema:
            $ref: '#/definitions/Killmail'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/systems/':
    post:
      operationId: SystemHandler_filter
      tags:
        - systems
      summary: Filter Systems
      description: |
        Filter Systems and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Systems
          schema:
            $ref: '#/definitions/SystemList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/systems/{systemID}/':
    parameters:
      - $ref: '#/parameters/systemID'
    get:
      operationId: SystemHandler_getById
      tags:
        - systems
      summary: ""
      description: |
        Get a System by ID
      responses:
        '200':
          description: |
            The System
          schema:
            $ref: '#/definitions/System'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/types/':
    post:
      operationId: TypeHandler_filter
      tags:
        - types
      summary: Filter Types
      description: |
        Filter Types and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Types
          schema:
            $ref: '#/definitions/TypeList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/types/{typeID}/':
    parameters:
      - $ref: '#/parameters/typeID'
    get:
      operationId: TypeHandler_getById
      tags:
        - types
      summary: ""
      description: |
        Get a Type by ID
      responses:
        '200':
          description: |
            The Type
          schema:
            $ref: '#/definitions/Type'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Href:
    type: object
    properties:
      href:
        type: string
        description: |
          The URL to another resource
  Error:
    type: object
    properties:
      stack:
        type: string
      message:
        type: string
      code:
        type: integer
        format: int64
  Filter:
    type: object
    properties:
      filter:
        type: object
      options:
        type: object
  Root:
    type: object
    properties:
      characters:
        $ref: '#/definitions/Href'
      corporations:
        $ref: '#/definitions/Href'
      alliances:
        $ref: '#/definitions/Href'
      killmails:
        $ref: '#/definitions/Href'
      types:
        $ref: '#/definitions/Href'
      systems:
        $ref: '#/definitions/Href'
  Alliance:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      href:
        type: string
      shortName:
        type: string
      executor:
        $ref: '#/definitions/Corporation'
      corporations:
        type: array
        items:
          $ref: '#/definitions/Corporation'
      updated:
        type: integer
        format: int64
  AllianceList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Alliance'
  Corporation:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      href:
        type: string
      ticker:
        type: string
      description:
        type: string
      ceo:
        $ref: '#/definitions/Character'
      alliance:
        $ref: '#/definitions/Alliance'
      updated:
        type: integer
        format: int64
  CorporationList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Corporation'
  Character:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      href:
        type: string
      corporation:
        $ref: '#/definitions/Corporation'
      updated:
        type: integer
        format: int64
  CharacterList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Character'
  Faction:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      href:
        type: string
  FactionList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Faction'
  Killmail:
    type: object
    properties:
      killID:
        type: integer
        format: int64
      hash:
        type: string
      solarSystem:
        $ref: '#/definitions/System'
      killTime:
        type: integer
        format: int64
      attackers:
        type: array
        items:
          $ref: '#/definitions/KillmailAttacker'
      attackerCount:
        type: integer
        format: int64
      victim:
        $ref: '#/definitions/KillmailVictim'
  KillmailList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Killmail'
  KillmailAttacker:
    type: object
    properties:
      finalBlow:
        type: boolean
      securityStatus:
        type: number
      damageDone:
        type: integer
        format: int64
      character:
        $ref: '#/definitions/Character'
      corporation:
        $ref: '#/definitions/Corporation'
      alliance:
        $ref: '#/definitions/Alliance'
      faction:
        $ref: '#/definitions/Faction'
      shipType:
        $ref: '#/definitions/Type'
      weaponType:
        $ref: '#/definitions/Type'
  KillmailVictim:
    type: object
    properties:
      damageTaken:
        type: integer
        format: int64
      position:
        $ref: '#/definitions/Position'
      items:
        type: array
        items:
          $ref: '#/definitions/KillmailItem'
      character:
        $ref: '#/definitions/Character'
      corporation:
        $ref: '#/definitions/Corporation'
      alliance:
        $ref: '#/definitions/Alliance'
      faction:
        $ref: '#/definitions/Faction'
      shipType:
        $ref: '#/definitions/Type'
  KillmailItem:
    type: object
    properties:
      singleton:
        type: integer
        format: int64
      flag:
        type: integer
        format: int64
      quantityDestroyed:
        type: integer
        format: int64
      quantityDropped:
        type: integer
        format: int64
      itemType:
        $ref: '#/definitions/Type'
  System:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      href:
        type: string
      securityStatus:
        type: number
  SystemList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/System'
  Type:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      href:
        type: string
      description:
        type: string
  TypeList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Type'
  Position:
    type: object
    properties:
      x:
        type: number
      y:
        type: number
      z:
        type: number