swagger: '2.0'
info:
  title: Space Utils
  description: This is a REST JSON API related to the MMO EVE Online.
  version: 0.0.1
  contact:
    email: spaceutils@eneticum.de
host: api.utils.space
#basePath: /
produces:
  - application/json
schemes:
  - https
parameters:
  character_id:
    name: character_id
    in: path
    type: integer
    format: int64
    required: true
  corporation_id:
    name: corporation_id
    in: path
    type: integer
    format: int64
    required: true
  alliance_id:
    name: alliance_id
    in: path
    type: integer
    format: int64
    required: true
  faction_id:
    name: faction_id
    in: path
    type: integer
    format: int64
    required: true
  killmail_id:
    name: killmail_id
    in: path
    type: integer
    format: int64
    required: true
  system_id:
    name: system_id
    in: path
    type: integer
    format: int64
    required: true
  type_id:
    name: type_id
    in: path
    type: integer
    format: int64
    required: true
paths:
  '/':
    get:
      operationId: get_home
      responses:
        '200':
          description: Root
          schema:
            $ref: '#/definitions/Root'
  '/characters/':
    post:
      operationId: post_characters_filter
      tags:
        - Character
      summary: Filter Characters
      description: |
        Filter Characters and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Characters
          schema:
            $ref: '#/definitions/CharacterList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/characters/{character_id}/':
    parameters:
      - $ref: '#/parameters/character_id'
    get:
      operationId: get_characters_character_id
      tags:
        - Character
      summary: ""
      description: |
        Get a Character by ID
      responses:
        '200':
          description: The Character
          schema:
            $ref: '#/definitions/Character'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/characters/{character_id}/corporation/':
    parameters:
      - $ref: '#/parameters/character_id'
    get:
      operationId: get_characters_character_id_corporation
      tags:
        - Character
      summary: ""
      description: |
        Get a Character's Corporation
      responses:
        '200':
          description: |
            The Corporation
          schema:
            $ref: '#/definitions/Corporation'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/corporations/':
    post:
      operationId: post_corporations_filter
      tags:
        - Corporation
      summary: Filter Corporations
      description: |
        Filter Corporations and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Corporations
          schema:
            $ref: '#/definitions/CorporationList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/corporations/{corporation_id}/':
    parameters:
      - $ref: '#/parameters/corporation_id'
    get:
      operationId: get_corporations_corporation_id
      tags:
        - Corporation
      summary: ""
      description: |
        Get a Corporation by ID
      responses:
        '200':
          description: |
            The Corporation
          schema:
            $ref: '#/definitions/Corporation'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/corporations/{corporation_id}/alliance/':
    parameters:
      - $ref: '#/parameters/corporation_id'
    get:
      operationId: get_corporations_corporation_id_alliance
      tags:
        - Corporation
      summary: ""
      description: |
        Get a Corporation's Alliance
      responses:
        '200':
          description: |
            The Alliance
          schema:
            $ref: '#/definitions/Alliance'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/corporations/{corporation_id}/ceo/':
    parameters:
      - $ref: '#/parameters/corporation_id'
    get:
      operationId: get_corporations_corporation_id_ceo
      tags:
        - Corporation
      summary: ""
      description: |
        Get a Corporation's CEO
      responses:
        '200':
          description: |
            The CEO
          schema:
            $ref: '#/definitions/Character'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/alliances/':
    post:
      operationId: post_alliances_filter
      tags:
        - Alliance
      summary: Filter Alliances
      description: |
        Filter Alliances and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Alliances
          schema:
            $ref: '#/definitions/AllianceList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/alliances/{alliance_id}/':
    parameters:
      - $ref: '#/parameters/alliance_id'
    get:
      operationId: get_alliances_alliance_id
      tags:
        - Alliance
      summary: ""
      description: |
        Get a Alliance by ID
      responses:
        '200':
          description: |
            The Alliance
          schema:
            $ref: '#/definitions/Alliance'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/alliances/{alliance_id}/executor/':
    parameters:
      - $ref: '#/parameters/alliance_id'
    get:
      operationId: get_alliances_alliance_id_executor_corporation
      tags:
        - Alliance
      summary: ""
      description: |
        Get an Alliance's Executor
      responses:
        '200':
          description: |
            The Executor
          schema:
            $ref: '#/definitions/Corporation'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/alliances/{alliance_id}/corporations/':
    parameters:
      - $ref: '#/parameters/alliance_id'
    get:
      operationId: get_alliances_alliance_id_corporations
      tags:
        - Alliance
      summary: ""
      description: |
        Get an Alliance's Corporations
      responses:
        '200':
          description: |
            The Corporations
          schema:
            $ref: '#/definitions/CorporationList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/factions/':
    post:
      operationId: post_factions_filter
      tags:
        - Faction
      summary: Filter Factions
      description: |
        Filter Factions and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Factions
          schema:
            $ref: '#/definitions/FactionList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/factions/{faction_id}/':
    parameters:
      - $ref: '#/parameters/faction_id'
    get:
      operationId: get_factions_faction_id
      tags:
        - Faction
      summary: ""
      description: |
        Get a Faction by ID
      responses:
        '200':
          description: |
            The Faction
          schema:
            $ref: '#/definitions/Faction'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/killmails/':
    post:
      operationId: post_killmails_filter
      tags:
        - Killmail
      summary: Filter Killmails
      description: |
        Filter Killmails and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Killmails
          schema:
           $ref: '#/definitions/KillmailList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/killmails/{killmail_id}/':
    parameters:
      - $ref: '#/parameters/killmail_id'
    get:
      operationId: get_killmails_killmail_id
      tags:
        - Killmail
      summary: ""
      description: |
        Get a Killmail by ID
      responses:
        '200':
          description: |
            The Killmail
          schema:
            $ref: '#/definitions/Killmail'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/killmails/{killmail_id}/{killmail_hash}/':
    parameters:
      - $ref: '#/parameters/killmail_id'
      - name: killmail_hash
        in: path
        description: The Killmail Hash
        type: string
        required: true
    get:
      operationId: get_killmails_killmail_id_killmail_hash
      tags:
        - Killmail
      summary: ""
      description: |
        Get a Killmail by ID and hash
      responses:
        '200':
          description: |
            The Killmail
          schema:
            $ref: '#/definitions/Killmail'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/systems/':
    post:
      operationId: post_systems_filter
      tags:
        - System
      summary: Filter Systems
      description: |
        Filter Systems and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Systems
          schema:
            $ref: '#/definitions/SystemList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/systems/{system_id}/':
    parameters:
      - $ref: '#/parameters/system_id'
    get:
      operationId: get_systems_system_id
      tags:
        - System
      summary: ""
      description: |
        Get a System by ID
      responses:
        '200':
          description: |
            The System
          schema:
            $ref: '#/definitions/System'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/types/':
    post:
      operationId: post_types_filter
      tags:
        - Type
      summary: Filter Types
      description: |
        Filter Types and apply Options
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Filter and Options
          required: true
          schema:
            $ref: '#/definitions/Filter'
      responses:
        '200':
          description: A list of Types
          schema:
            $ref: '#/definitions/TypeList'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/types/{type_id}/':
    parameters:
      - $ref: '#/parameters/type_id'
    get:
      operationId: get_types_type_id
      tags:
        - Type
      summary: ""
      description: |
        Get a Type by ID
      responses:
        '200':
          description: |
            The Type
          schema:
            $ref: '#/definitions/Type'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Error:
    type: object
    properties:
      stack:
        type: string
      message:
        type: string
      code:
        type: integer
        format: int64
  Filter:
    type: object
    properties:
      filter:
        type: object
      options:
        type: object
  Root:
    type: object
  Alliance:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      ticker:
        type: string
      executor_corporation:
        $ref: '#/definitions/Corporation'
      corporations:
        type: array
        items:
          $ref: '#/definitions/Corporation'
  AllianceList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Alliance'
  Corporation:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      ticker:
        type: string
      description:
        type: string
      ceo:
        $ref: '#/definitions/Character'
      alliance:
        $ref: '#/definitions/Alliance'
  CorporationList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Corporation'
  Character:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      corporation:
        $ref: '#/definitions/Corporation'
      alliance:
        $ref: '#/definitions/Alliance'
  CharacterList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Character'
  Faction:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
  FactionList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Faction'
  Killmail:
    type: object
    properties:
      id:
        type: integer
        format: int64
      hash:
        type: string
      solar_system:
        $ref: '#/definitions/System'
      killmail_time:
        type: integer
        format: int64
      attackers:
        type: array
        items:
          $ref: '#/definitions/KillmailAttacker'
      attacker_count:
        type: integer
        format: int64
      victim:
        $ref: '#/definitions/KillmailVictim'
  KillmailList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Killmail'
  KillmailAttacker:
    type: object
    properties:
      final_blow:
        type: boolean
      security_status:
        type: number
      damage_done:
        type: integer
        format: int64
      character:
        $ref: '#/definitions/Character'
      corporation:
        $ref: '#/definitions/Corporation'
      alliance:
        $ref: '#/definitions/Alliance'
      faction:
        $ref: '#/definitions/Faction'
      ship_type:
        $ref: '#/definitions/Type'
      weapon_type:
        $ref: '#/definitions/Type'
  KillmailVictim:
    type: object
    properties:
      damage_taken:
        type: integer
        format: int64
      position:
        $ref: '#/definitions/Position'
      items:
        type: array
        items:
          $ref: '#/definitions/KillmailItem'
      character:
        $ref: '#/definitions/Character'
      corporation:
        $ref: '#/definitions/Corporation'
      alliance:
        $ref: '#/definitions/Alliance'
      faction:
        $ref: '#/definitions/Faction'
      ship_type:
        $ref: '#/definitions/Type'
  KillmailItem:
    type: object
    properties:
      singleton:
        type: integer
        format: int64
      flag:
        type: integer
        format: int64
      quantity_destroyed:
        type: integer
        format: int64
      quantity_dropped:
        type: integer
        format: int64
      item_type:
        $ref: '#/definitions/Type'
  System:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      security_status:
        type: number
  SystemList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/System'
  Type:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      href:
        type: string
      description:
        type: string
  TypeList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Type'
  Position:
    type: object
    properties:
      x:
        type: number
      y:
        type: number
      z:
        type: number